.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__main {
        display: flex;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }
}