.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  background-color: transparent;
  border-radius: 0;
  position: relative;
  gap: 10px;
  user-select: none;
}

// When GroupItem is inside Group, it should inherit Group's background
[data-group-item] {
  background-color: transparent;
  border-radius: 0;
}

.before {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.after {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 8px;
}

.chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--color-foreground-tertiary);
}

.chevronDouble {
  width: 16px;
  max-width: 16px;
  min-width: 16px;
  height: 16px;
  max-height: 16px;
  min-height: 16px;
  color: var(--color-accent-primary);
}

.bottomBorder {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 0.3px;
  background-color: var(--color-border-separator);
  z-index: 5;
}

.disabled {
  opacity: 0.5;
  cursor: default !important;

  * {
    cursor: default !important;
  }
}

.clickable {
  cursor: pointer;
}

